<!-- INÍCIO DO CONTEÚDO -->
<div class="content-header">
   <div class="page-header">
     <h1>Relatórios de Notas</h1>
   </div>
</div>

<form class="form-inline pull-xs-right">
  <input class="form-control" type="text" placeholder="Disciplica">
  <button class="btn btn-outline-success" type="submit">Procurar</button>
</form>

<section class="content">
  <table class="table table-hover">
<thead class="thead-inverse">
  <tr>
    <th>Disciplina</th>
    <th>Trabalho</th>
    <th>Nota</th>
    <th>Peso</th>
    <th>Observações</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Etica e Legislação</td>
    <td>Trabalho 1</td>
    <td>2</td>
    <td>2</td>
    <td><a href="#">Visualizar</a></td>
  </tr>
  <tr>
    <td>Lógica de Programação II</td>
    <td>Exercício de PHP</td>
    <td>1.5</td>
    <td>3</td>
    <td><a href="#">Visualizar</a></td>
  </tr>
  <tr>
    <td>Estrutura de Dados</td>
    <td>Bubble Sort</td>
    <td>3</td>
    <td>3</td>
    <td><a href="#">Visualizar</a></td>
  </tr>
  <tr>
    <td>Estrutura de Dados</td>
    <td>Prova G1</td>
    <td>6</td>
    <td>7</td>
    <td><a href="#">Visualizar</a></td>
  </tr>
  <tr>
    <td>Etica e Legislação</td>
    <td>Prova G1</td>
    <td>5</td>
    <td>8</td>
    <td><a href="#">Visualizar</a></td>
  </tr>
  <tr>
    <td>Projeto de Interface</td>
    <td>Prova G1</td>
    <td>7</td>
    <td>7</td>
    <td><a href="#">Visualizar</a></td>
  </tr>
</tbody>
</table>
