<!-- INíCIO do CONTEÚDO -->
<!-- INÍCIO DO CONTEÚDO -->
<div class="content-header">
   <div class="page-header">
     <h1>Minhas Faltas</h1>
   </div>
</div>


<section class="content">

  <div class="row">
          <div class="col-sm-6 col-xs-12">
            <a href="#">
              <div class="place-info-box">
                <span class="place-info-box-icon"><img src="assets/img/Cursos/icone.jpg" /></span>

                <div class="place-info-box-content">
                  <span class="place-info-box-text">lógica de Programação II</span>
                  <span class="place-info-box-star"><i class="fa fa-star"></i>80%</span>
                  <span class="place-info-box-detail">Quantidade de faltas:</span>
                  <span class="place-info-box-detail">12</span>
                </div>
                <!-- /.info-box-content -->
              </div>
            </a>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/Cursos/icone.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Banco de dados II</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 90%</span>
                <div class="place-info-box-detail">Quantidade de faltas:</div>
                <span class="place-info-box-detail">10</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/Cursos/icone.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Projeto de Interface</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 76%</span>
                <div class="place-info-box-detail">Quantidade de faltas:</div>
                <span class="place-info-box-detail">24</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/Cursos/icone.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Orientação ao TCC</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 70%</span>

                <span class="place-info-box-detail">Reprovado!</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/Cursos/icone.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Estrutura de dados</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 100%</span>
                <div class="place-info-box-detail">Quantidade de faltas:</div>
                <span class="place-info-box-detail">0</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="place-info-box">
              <span class="place-info-box-icon"><img src="assets/img/Cursos/icone.jpg" /></span>

              <div class="place-info-box-content">
                <span class="place-info-box-text">Ética e Legislação</span>
                <span class="place-info-box-star"><i class="fa fa-star"></i> 100%</span>
                <span class="place-info-box-detail">Quantidade de faltas:</span>
                <span class="place-info-box-detail">0</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

        </div>

</section>

<!-- FIM  do CONTEÚDO -->
